.chat-container {
    margin-top: 10vh;
    background-color: #F6F6F6;
    border: 1px solid #ddd;
}
.chat-title-row {
    background-color: #fff;
    height: 50px;
    border-bottom: 1px solid #ddd;

}
.chat-title {
    width: 100%;
    margin-top: 5px;
    text-align: center;
}
.conversation-list {
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 1px 0 0 #ddd;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.miniature {
    position: relative;
    width: 100%;
    height: 60px;
    padding: 5px 0 5px 5px;
    display: flex;
    align-items: center;
}
.miniature:not(:last-child)::after {
    width: 80%;
    content: '';
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 10%;
    background-color: #eee;
}

.miniature__img {
    max-width: 50px;
    width: 50px;
    border-radius: 50%;

}
.miniature__name {
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
}
.conversation {
    height: 70vh;
}
.conversation__display {
    height: calc(100% - 40px);
}
.conversation__input-row {
    width: auto;
    height: 40px;
}
.conversation__input {
    border-bottom: none;
}
.conversation__send {
    border-bottom: none;
}
.conversation__message-list {
    height: 100%;
    margin: 0;
    padding: 40px 40px 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}
.message {
    position: relative;
    min-height: min-content;
    padding: 15px 10px;
    width: 60%;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    border-radius: 10px;
}
.message__info {
    position: absolute;
    top: 2px;
    right: 5%;
    font-size: 12px;
    color: #888;
}
.message.message--self .message__info {
    color: #0275d8;
}

.message--self {
    align-self: flex-end;
    background-color: #b8ddfc;
    border: 1px solid #0275d8;
}

.modal {
    background-color: rgba(0,0,0,0.6);
    display: none;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.show {
    opacity: 1;
}
.modal-content {
    padding: 2em;
    display: block;
}
.modal .btn[type="submit"] {
    width: 100px;
}
.miniature--active {
    background-color: #dbfcdb;
}
.miniature--active::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    background-color: #5CB85C;
    height: 100%;
    width: 10px;
}
.miniature--active:not(:last-child)::after {
    background-color: #5CB85C;
}
